/* Custom container */
.container-fluid {
margin: 0 auto;
max-width: 420px;
}
.container-fluid > hr {
margin: 30px 0;
}

/* Body link styles */
a {
color: #677D94;
text-decoration: none !important;
	}

a:hover { color: #677D94}

/* Center main table style */
table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
   text-align: center;   
}
