/* Custom fonts */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(/fonts/poiret-one.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

*{font-family: 'Poiret One', sans-serif;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
}
p, div {
    font-family: 'Poiret One', sans-serif;
}

/* Custom container */
.container-fluid {
margin: 0 auto;
max-width: 400px;
}
.container-fluid > hr {
margin: 30px 0;
}

/* Body link styles */
a {
color: #677D94;
text-decoration: none !important;
	}

a:hover { color: #677D94}

/* Center main table style */
table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
   text-align: center;   
}